                <div class="footer">
                    <hr>
                    <p class="p"><span>&#169;</span>2020 by CSE-341 Team 3</p>

                    <ul class="item-list">
                        <li>Contact Us: </li> <a class="link" href="mailto:cse341.team3@gmail.com">cse341.team3@gmail.com</a>
                    </ul>
                </div>

            </div>
        </main>
    </body>

</html>