<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>

<body>
    <h1><%= title %></h1>
    <p>The page you were looking for Is not functioning at the moment. Please try again later. Sorry for the
        inconvenience!</p>
</body>

</html>