    <%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <h1 class="">Gourmeat</h1>
        <div class="">
            <p class="">
               Created in October 2020 by the coolest CS341 class team ever, Our goal has always be to help college students have meal ideas on hand.  Whether you have dragonfruit, potatoes, or even ramen to cook with, we want help you get swank ideas for things to cook.  Whether you are just bored or starving, we want to help you.  With Gourmeat, we want you to feel free as a bee.  If you have more questions please contact us via email at gourmeat@gmail.com.
            </p>  
        </div>
    </main>
    
<%- include('./includes/end.ejs') %>

