<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/addrecipe.css">
</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1>Add A New Recipe</h1>

            <div class="recipe">
                <form class="login-form" action="/recipe/addrecipe/submit" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrf %>" />
                    <input id="numOfIngredients" type="number" value="1" name="numIngredients" hidden>
                    <input id="numOfDirections" type="number" value="1" name="numDirections" hidden>

                    <label for="servings">Servings</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Servings" name="servings"
                        id="servings"><br><br>

                    <label class="form-control" for="preperationMinutes">Preparation Time (Minutes)</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Preparation Time"
                        name="preperationMinutes" id="preperationMinutes"><br><br>

                    <label class="form-control" for="cookingMinutes">Cooking Time (Minutes)</label><br>
                    <input class="form-control" type="number" step=".01" placeholder="Cooking Time"
                        name="cookingMinutes" id="cookingMinutes"><br><br>

                    <label class="form-control" for="title">Title</label><br>
                    <input class="form-control" type="text" placeholder="Title" name="title" id="title"><br><br>

                    <label class="form-control" for="ingredient1">Ingredients</label><br>
                    <input class="form-control" type="text" placeholder="Ingredient #1" name="ingredient1"
                        id="ingredient1">
                    <input class="form-control amount" name="amount1" type="text" step=".01" placeholder="amount">
                    <input name="unit1" type="text" id="unit1" placeholder="Unit (cup, teaspoon, etc.)"><br>
                    <div id="ingredients">
                    </div>
                    <button type='button' id="ingredientBtn">Add another Ingredient</button><br><br>

                    <label class="form-control" for="direction1">Directions</label><br>
                    <textarea class="form-control" placeholder="Direction #1" name="direction1"
                        id="direction1"></textarea><br>
                    <div id="directions">
                    </div>
                    <button type="button" id="directionBtn">Add another
                        Direction</button><br><br>

                    <label class="form-control" for="image">Upload picture of final product</label><br>
                    <input class="form-control" type="file" name="image" id="image"><br><br>

                    <label class="form-control">Categories</label><br>
                    <input class="form-control" type="checkbox" id="tag0" name="tag0" value="chicken">
                    <label class="form-control" for="tag0">Chicken</label><br>
                    <input class="form-control" type="checkbox" id="tag1" name="tag1" value="beef">
                    <label class="form-control" for="tag1">Beef</label><br>
                    <input class="form-control" type="checkbox" id="tag2" name="tag2" value="pork">
                    <label class="form-control" for="tag2">Pork</label><br>
                    <input class="form-control" type="checkbox" id="tag3" name="tag3" value="seafood">
                    <label class="form-control" for="tag3">Seafood</label><br>
                    <input class="form-control" type="checkbox" id="tag4" name="tag4" value="vegetable">
                    <label class="form-control" for="tag4">Vegetable</label><br>
                    <input class="form-control" type="checkbox" id="tag5" name="tag5" value="vegan">
                    <label class="form-control" for="tag5">Vegan</label><br>
                    <input class="form-control" type="checkbox" id="tag6" name="tag6" value="dessert">
                    <label class="form-control" for="tag6">Dessert</label><br>

                    <input class="form-control" type="submit">
                </form>
            </div>

            <script src="/js/addrecipe.js"></script>
            <%- include('./includes/end.ejs') %>