<%- include('./includes/head.ejs') %>

</head>

<body>
    <%- include('./includes/nav.ejs') %>

    <main class="content">
        <div class="content-wrap">

            <h1 class="centered" style="margin: 20px;">Grocery List</h1>

            <div>
                <article class="card centered" style="margin-bottom: 20px;">
                    <div class="card__image">
                        <!-- <img src="../%= recipe.imagePath %" alt="no image found"> -->
                    </div> 
                    <div>
                       
                        <% if (ingredients.length > 0) { %>
                        
                        <ul>
                        <% for (ingredient of ingredients) { %>
                        
                        <li> 
                            <%= ingredient %>
                           
                            <!-- <a class="btn" href="/recipe/%= recipe._id %/info">View Recipe</a>
                            <a class="btn" href="/recipe/%= recipe._id %/remove-favorite">Remove</a> -->
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                </article>
            </div>


            <%- include('./includes/end.ejs') %>