
textarea {
    width: 300px;
}

label {
    font-size: xx-large
}

.recipe {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 1.5px solid #ef5350;
    background-color: #586BA4;
    color: white;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3rem;
    padding: 10px;
    justify-content: center;
    text-align: center;
    text-align: left;
}

.recipe button {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.login-form {
    width: 20rem;
    max-width: 90%;
    margin-left:3rem;
  }
  
  .form-control {
    margin: 1rem 0;
    margin-left:3rem;
  }

  .form-control label {
      margin-top: 1rem;
  }

  .amount {
      margin-left: .25rem;
      width: 70px;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    /* display: block; */
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .form-control input,
  .form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline-color: #ef5350;
  }
  
  .form-control input.invalid,
  .form-control textarea.invalid {
    border-color: red;
  }

  .default-input {
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: .75px solid #ef5350;
  }