.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

#restrictions{
	padding: 0.5em 0.5em 0.5em 2em;
	font-size: 0.8em;
	line-height: 1.1em;
	background-color: #FFC;
}

#restrictions ul{
	padding: 0 0 0 1em;
}

#restrictions ul li{
	padding: 0;
}
