
    .reload {
        width:100%;
        height: 100px;
        border: none;
        margin: 3px;
        background-color: #586BA4;
        color: white;
        padding: 14px 28px;
        font-size:40px;
        text-align: center;
    }

    body {
        margin: 0;
      }
      
     #cbuttons{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        position: fixed;
        height: 100%;
        overflow: auto;
      }
  
    .chickenbg{
        transition: .4s;
    }

    .chickenbg:hover{
        background-image: url("/images/chicken.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    } 

    .cSelect{
        background-image: url("/images/chicken.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bSelect{
        background-image: url("/images/beef.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pSelect{
        background-image: url("/images/pork.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fSelect{
        background-image: url("/images/fish.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .vSelect{
        background-image: url("/images/veg.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .veSelect{
        background-image: url("/images/vegan.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dSelect{
        background-image: url("/images/dessert.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }

    @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }


    .beefbg{
        transition: .4s;
    }

    .beefbg:hover{
        background-image: url("/images/beef.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }

    .porkbg{
        transition: .4s;
    }

    .porkbg:hover{
        background-image: url("/images/pork.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }

    .fishbg{
        transition: .4s;
    }

    .fishbg:hover{
        background-image: url("/images/fish.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }

    .vegbg{
        transition: .4s;
    }

    .vegbg:hover{
        background-image: url("/images/veg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }

    .veganbg{
        transition: .4s;
    }

    .veganbg:hover{
        background-image: url("/images/vegan.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }
   
    .dessertbg{
        transition: .4s;
    }

    .dessertbg:hover{
        background-image: url("/images/dessert.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        animation-name: fade;
        animation-duration: 1s;
    }  

     @keyframes fade{
        from {opacity: 30%;}
        to {opacity: 100%;}
    }

    #chicken,
    #beef,
    #pork,
    #fish,
    #vegetable,
    #vegan,
    #vegan{
        margin-bottom: 200px;
    }