.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A8C256;
    color: white;
    text-align: center;
    z-index: -1;
}

.item-list {
    list-style: none;
}