.recipe-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.recipe-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.recipe__title {
    font-size: 1.2rem;
    text-align: center;
}

.recipe__description {
    text-align: center;
}

.list {
    text-align: left;
    margin-left: 11.5%;
}

.flex {
    display: flex;
    justify-content: space-around;
}

ol {
    font-weight: bold;
    margin-left: -2px;
}

li span {
    font-weight: normal;
    padding: 5px;
}